.home-page {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/planning/pink-spring-flowers.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(255, 209, 217);
}

.words {
  text-decoration: none;
  color: #26191b;
  border-bottom: #f2468e;
}
