.body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(255, 209, 217);
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.curly-girl {
  width: 24rem;
  height: 24rem;
  margin-left: auto;
  margin-right: auto;
}

.words {
  color: #86003c;
}
